$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

$grayBorder: #999;

@import 'basket';
@import 'products';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;

  .subheading {
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    color: $grayBorder;
  }
}

.price {
  font-weight: bold;
  &:before {
    content: "\00A3";
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
